<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card" style="text-align: center;">
                <h1 (click)="clothingCategory()">Clothing</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="text-align: center;">
                <h1>Essential</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="text-align: center;">
                <h1>Healthy Food</h1>
            </div>
        </div>
    </div>
</div>
