/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');


.mr-0{
    margin: 0%;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins', sans-serif;
}