<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <h3 style="text-align: center;">Product List</h3>
    <div class="row">
        <div class="col-md-4 pb-4" *ngFor="let item of productListArray">
            <div class="card">
                <h5 class="card-header">{{item.name}}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{item.price}}</h5>
                  <p class="card-text">{{item.quantity}}</p>
                  <p class="card-text">{{item.category}}</p>
                  <a href="#" class="btn btn-primary" (click)="viewProduct()">View</a>
                </div>
              </div>
        </div>
    </div>
</div>

